@page "/"
@using Calendar.Users
@using global::Calendar.Meetings
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation
@inject MeetingService MeetingService
@inject UserService UserService
@inject IJSRuntime JS
<div class="w-2/3 pt-8">
  <div class="flex justify-between items-center">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-800 focus-visible:outline-none">Kalendář</h1>
    @if (IsAuthenticated)
    {
      <p>Jsi přihlášený/á jako: @_userName (@_userEmail)</p>
      <button
        @onclick="Logout"
        class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Odhlásit
      </button>
    }
    else
    {
      <button @onclick="Login" type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2">
        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 19">
          <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
        </svg>
        Přihlášení přes Google
      </button>
    }
  </div>
  @if (IsAuthenticated)
  {
    <div class="flex justify-center gap-4">
      <button @onclick="GenerateLink"
              class="text-white bg-blue-500 hover:bg-blue-600 transition-colors duration-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Nová schůzka
      </button>
      <NavLink href="/calendar"
               class="text-white bg-green-500 hover:bg-green-600 transition-colors duration-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Otevřít kalendář
      </NavLink>
    </div>

    @if (_generatedLink is not null)
      {
        <div class="mt-4 space-y-2">
          <h3 class="text-sm font-medium text-gray-500">Odkaz pro vytvoření nové schůzky:</h3>
          <div class="flex items-center gap-2">
            <a href="@_generatedLink" class="text-blue-600 hover:text-blue-800 underline break-all">@_generatedLink</a>
            <button @onclick="CopyToClipboard" class="p-2 hover:bg-gray-100 rounded-full relative">
              <div class="relative">
                <div class="transition-all duration-300 ease-in-out transform @(_copied ? "opacity-0 scale-50" : "opacity-100 scale-100")">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184" />
                  </svg>
                </div>
                <div class="absolute inset-0 transition-all duration-300 ease-in-out transform @(_copied ? "opacity-100 scale-100" : "opacity-0 scale-50")">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-green-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                  </svg>
                </div>
              </div>
            </button>

          </div>
        </div>
      }
  }
</div>

@code {
  bool IsAuthenticated => _userId is not null;
  string _userName = string.Empty;
  string _userEmail = string.Empty;
  int? _userId;
  string? _generatedLink;

  protected override async Task OnInitializedAsync()
  {
    _userId = UserService.GetCurrentUserId();
    if (IsAuthenticated)
    {
      var user = await UserService.GetUserAsync(_userId!.Value);
      _userName = user!.Name; // Uzivatele to musi vratit.
      _userEmail = user.Email;
    }
  }

  void Login() => Navigation.NavigateTo("/login", true);
  void Logout() => Navigation.NavigateTo("/logout", true);

  async Task GenerateLink()
  {
    _generatedLink = await MeetingService.GenerateLink(Convert.ToInt32(_userId), Navigation.BaseUri.TrimEnd('/'));
  }

  private bool _copied;
  async Task CopyToClipboard()
  {
    if (_generatedLink != null)
    {
      await JS.InvokeVoidAsync("navigator.clipboard.writeText", _generatedLink);
      _copied = true;
    }
  }

}