@page "/"
@using global::Calendar.Meetings
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject MeetingService MeetingService

<h3>Kalendář</h3>

@if (!_isAuthenticated)
{
  <button @onclick="Login">Přihlášení přes Google</button>
}
else
{
  <p>Ahoj, @_userName!</p>
  <button @onclick="GenerateLink">Vytvoř odkaz pro sjednání schůzky</button>
  if (_generatedLink is not null)
  {
    <p>Odkaz pro vytvoření nové schůzky: @_generatedLink</p>
  }
  <NavLink href="/calendar">Otevřít kalendář</NavLink>
  <button @onclick="Logout">Odhlášení</button>
}


@code {
  bool _isAuthenticated;
  string _userName = string.Empty;
  string _userId = string.Empty;

  string? _generatedLink;


  protected override async Task OnInitializedAsync()
  {
    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authState.User;
    if (user.Identity?.IsAuthenticated is true)
    {
      _isAuthenticated = true;
      _userName = user.Identity.Name ?? "Uživatel";
      _userId = user.FindFirst(c => c.Type == "UserId")?.Value ?? "Neznámé ID";
    }
  }

  void Login() => Navigation.NavigateTo("/login", true);
  void Logout() => Navigation.NavigateTo("/logout", true);

  async Task GenerateLink()
  {
    _generatedLink = await MeetingService.GenerateLink(Convert.ToInt32(_userId), Navigation.BaseUri.TrimEnd('/'));
  }
}}